extends layout
block content
    div(id="body" class="clearfix")
        div(id="ranking-box" class="col-xs-12 col-sm-5 col-lg-4")
          ul
            li(class="gradient-1 clearfix")
                span(class="rank col-xs-3") 
                  h4 10456 
                span(class="col-xs-9") 
                  h3 World Cup
                  p These @USSoccer fans are clearly ready to qualify for the World Cup tonight -> http://instagram.com/p/eGH_-og0Ez/  #USAvsMEX
            li(class="gradient-2 clearfix")
                span(class="rank col-xs-3") 
                  h4 10456 
                span(class="col-xs-9") 
                  h3 World Cup#
                  p These @USSoccer fans are clearly ready to qualify for the World Cup tonight -> http://instagram.com/p/eGH_-og0Ez/  #USAvsMEX bbbbbbbbbbbbbbb
            li(class="gradient-3 clearfix") 
                span(class="rank col-xs-3") 
                  h4 10456 
                span(class="col-xs-9") 
                  h3 World Cup
                  p These @USSoccer fans are clearly ready to qualify for the World Cup tonight -> http://instagram.com/p/eGH_-og0Ez/  #USAvsMEX
            li(class="gradient-4 clearfix")
                span(class="rank col-xs-3") 
                  h4 10456 
                span(class="col-xs-9") 
                  h3 World Cup
                  p These @USSoccer fans are clearly ready to qualify for the World Cup tonight -> http://instagram.com/p/eGH_-og0Ez/  #USAvsMEX
            li(class="gradient-5 clearfix")
                span(class="rank col-xs-3") 
                  h4 10456 
                span(class="col-xs-9") 
                  h3 World Cup
                  p These @USSoccer fans are clearly ready to qualify for the World Cup tonight -> http://instagram.com/p/eGH_-og0Ez/  #USAvsMEX
            li(class="gradient-6 clearfix") 
                span(class="rank col-xs-3") 
                  h4 10456 
                span(class="col-xs-9") 
                  h3 World Cup
                  p These @USSoccer fans are clearly ready to qualify for the World Cup tonight -> http://instagram.com/p/eGH_-og0Ez/  #USAvsMEX
            li(class="gradient-7 clearfix")
                span(class="rank col-xs-3") 
                  h4 10456 
                span(class="col-xs-9") 
                  h3 World Cup
                  p These @USSoccer fans are clearly ready to qualify for the World Cup tonight -> http://instagram.com/p/eGH_-og0Ez/  #USAvsMEX
            li(class="gradient-8 clearfix")
                span(class="rank col-xs-3") 
                  h4 10456 
                span(class="col-xs-9") 
                  h3 World Cup
                  p These @USSoccer fans are clearly ready to qualify for the World Cup tonight -> http://instagram.com/p/eGH_-og0Ez/  #USAvsMEX
            li(class="gradient-9 clearfix") 
                span(class="rank col-xs-3") 
                  h4 10456 
                span(class="col-xs-9") 
                  h3 World Cup
                  p These @USSoccer fans are clearly ready to qualify for the World Cup tonight -> http://instagram.com/p/eGH_-og0Ez/  #USAvsMEX
            li(class="gradient-10 clearfix") 
                span(class="rank col-xs-3") 
                  h4 10456 
                span(class="col-xs-9") 
                  h3 World Cup
                  p These @USSoccer fans are clearly ready to qualify for the World Cup tonight -> http://instagram.com/p/eGH_-og0Ez/  #USAvsMEX
        div(id="content-box" class="col-xs-11 col-sm-7 col-lg-8")
          div(class="update-box col-lg-6")
                h3 World Cup
                p 
                    span 10456 
                    | People Talked About It
                div(class="tweet-box")
                  ul
                    li(class="clearfix") 
                      img(class="col-xs-2" src=base + '/images/profile.png')
                      span(class="col-xs-10")
                        p 
                          span(class="user-name") tara strong 
                          span(class="twitter-id") ‏@tarastrong
                        p(class="tweet") @tarastrong lol I highly doubt Harley's sincerity
                    li(class="clearfix") 
                      img(class="col-xs-2" src=base + '/images/profile.png')
                      span(class="col-xs-10")
                        p 
                          span(class="user-name") Dalia Ezzat 
                          span(class="twitter-id") ‏@DaliaEzzat
                        p(class="tweet") Are you sure about that??? I had enough trouble typing out this tweet! Tell Harley curses on her! Grrrr...
                    li(class="clearfix") 
                      img(class="col-xs-2" src=base + '/images/profile.png')
                      span(class="col-xs-10")
                        p 
                          span(class="user-name") Ben Platt 
                          span(class="twitter-id") ‏@BenSPLATT
                        p(class="tweet") It's traditional to apologize if you've hurt anyone on Yom Kippur. Harley is truly sorry to anyone whose skull or spleen she may have broken
                    li(class="clearfix") 
                      img(class="col-xs-2" src=base + '/images/profile.png')
                      span(class="col-xs-10")
                        p 
                          span(class="user-name") Ben Platt 
                          span(class="twitter-id") ‏@BenSPLATT
                        p(class="tweet") It's traditional to apologize if you've hurt anyone on Yom Kippur. Harley is truly sorry to anyone whose skull or spleen she may have broken
                div(class="img-box")
                  ul
                    li(class="col-xs-4" style="padding-right: 7px")
                      img(src=base + '/images/img1.jpg')
                    li(class="col-xs-4" style="padding-right: 7px")
                      img(src=base + '/images/img2.jpg')
                    li(class="col-xs-4" style="height: 196px")
                      img(src=base + '/images/img3.jpg')
                     li(class="col-xs-8" style="padding-right: 7px")
                      img(src=base + '/images/img5.jpg')
                    li(class="col-xs-4" style="height: 178px")
                      img(src=base + '/images/img4.jpg')
          div(class="analysis-box col-lg-6")
            p analysis
  
              